:root{
    --mainColor:#79cee2;
    --orange: #F9A451;
    --gray:#ADB6BD;
   
  
  }

  input,textarea:focus{
      outline:none;
  }


/* infinite loading div   */ 
.C-InfiniteLoadFigure{
    cursor: pointer;
    transition: .5s;
    height: 300px;
    max-width:  500px;
    object-fit: cover;
     /* overflow: hidden; */

}

.C-InfiniteLoadFigure:hover {
    overflow: hidden;
    border-radius: 25px;
   /* filter: opacity(0.5); */
    transform: scale(0.9)
}

/* postdetail add friend button */
.C-addFriendbt{
    transition:.5s;
}
.C-addFriendbtn:hover{
    color:white !important;
    background: var(--mainColor);
}
.C-posticon{
    font-size: 22px;
    color:var(--orange);
}

.C-postbtn:hover{
    color:var(--mainColor) !important;
    border-left: 2px solid var(--mainColor) !important;

}

/* postdetail comment delete button  */

.C-commentdeltext{
    background-color: var(--orange);
    color:white;
    padding: 2px 6px;
    border-radius: 5px;
    display: none;
    position: absolute;
    cursor: pointer;
    animation-duration: .5s;
    animation-name: slidein;
    z-index: 1;
}

.C-postComment:hover .C-commentdeltext {
    display: block;
    
}
  
  @keyframes slidein {
    from {
      right:4%;
    }
    
    to {
      right: 2%;
    }
  }
/* comment edit button */
  .C-commentEdittext{
    background-color: var(--orange);
    color:white;
    padding: 2px 6px;
    border-radius: 5px;
    display: none;
    position: absolute;
    cursor: pointer;
    animation-duration: .5s;
    animation-name: editslidein;
    z-index: 1;
}
.C-postComment:hover .C-commentEdittext {
  display: block;
  
}
@keyframes editslidein {
  from {
    right:13%;
  }
  
  to {
    right: 11%;
  }
}


 /* postdetail content  */

  .C-postContent{
    font-size: 14px;
    line-height: 25px;
    margin: 8px;
    overflow: hidden;
    display: -webkit-box ;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2 ;
    opacity: 0.6;
    transition: 0.5s;
    
  }
  .C-postContent:hover {
    -webkit-box-orient: vertical;
    -webkit-line-clamp:10;
    overflow: visible;
    max-height: 150px;
    opacity: 1;

  }
  /* post detail more button (delete and edit post) */
  .C-morebutton{
    font-size: 16px;
  }
  .C-morebutton:hover .C-morebuttonList{
    display: block;
    cursor: pointer;
  }
  .C-morebuttonList li:hover span{
    background-color: var(--mainColor);
    color: white;
  }
  
  .C-morebuttonList{
    width:95px;
    height:62px;
    background: white;
    position: absolute;
    /* border:1px solid var(--mainColor); */
    box-shadow: 0px 0px 10px #adb6bd;
    top:35px;
    right:-10px;
    display: none;
    transition: .5s ease;

  }
  
  .C-morebuttonList>li>span{
    display: block;
    width:95px;
    text-align: center;
    padding:5px 0;
    color:var(--mainColor);
    
    /* background-color: var(--mainColor); */
  }

  /* profile add friend button */

  .C-profileaddbtn{
      border: none;
      border:1px solid var(--mainColor);
      color:var(--mainColor);
      padding:2px 10px;
  }

  .C-profileaddbtn:hover{
      background-color: var(--mainColor);
      color:white
  }

/* profile post */

.C-profilePostImg{
  width: 600px;
  height: 350px;
  background: rgb(238, 238, 238);
  margin-bottom: 100px;
  position: relative;
}

.C-profilePostFigure{
  object-fit: fill;
  overflow: hidden;
  width: 550px;
  height:300px;
  cursor: pointer;
  /* height: 400px; */
  /* position: absolute; */
  /* right: -80px; */
  /* bottom: -60px; */
  /* top: 30px; */
}