@charset "UTF-8";
/*
* main.css
*
*/
/* ------------------------
	reset
------------------------ */
body {
  height: 100%;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
}

ol,
ul {
  list-style: none;
}

nav {
  background-color: #f0f0ee;
  margin-bottom: 70px;
  /* color: #79cee2; */
}

/* ------------------------
	Base
------------------------ */

body {
  min-width: 320px;
  word-wrap: break-word;
  /* color: #000; */
  font-size: 1.4em;
  line-height: 1.8;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover,
a:active {
  text-decoration: underline;
  color: #007bff;
}

/* ------------------------
	module
------------------------ */
/* icon ---------- */
.m-icon {
  position: relative;
  width: 1em;
  height: 1em;
  letter-spacing: -1em;
  line-height: 0;
}
.m-icon:before,
.m-icon:after {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: text-top;
  letter-spacing: normal;
}
.m-icon:after {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

/* iconBadge ---------- */
.m-iconBadge {
  display: inline-block;
  position: relative;
  border: 0;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  background: #f0f0ee;
  vertical-align: middle;
  font-size: 20px;
  font-size: 2rem;

  -webkit-appearance: none;
}
@media print, screen and (min-width: 768px) {
  .m-iconBadge {
    width: 42px;
    height: 42px;
    font-size: 2.4rem;
  }
}
.m-iconBadge:before {
  content: '';
  display: block;
  opacity: 1;
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  margin: auto;
  border-radius: 50%;
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.58, 1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.58, 1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  background: #fff;

  will-change: transform;
}
.m-iconBadge .m-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.m-iconBadge .m-icon-line {
  width: 1.18em;
  height: 1.18em;
}
.m-iconBadge .m-icon-line:before,
.m-iconBadge .m-icon-line:after {
  width: 1.18em;
  height: 1.18em;
}
.no-touchevents .m-iconBadge:hover,
.no-touchevents a:hover .m-iconBadge,
.no-touchevents button:hover .m-iconBadge,
.touchevents .m-iconBadge.is-touched,
.touchevents a.is-touched .m-iconBadge,
.touchevents button.is-touched .m-iconBadge {
  background: #82be28;
}
.no-touchevents .m-iconBadge:hover.m-iconBadge-line,
.no-touchevents a:hover .m-iconBadge.m-iconBadge-line,
.no-touchevents button:hover .m-iconBadge.m-iconBadge-line,
.touchevents .m-iconBadge.is-touched.m-iconBadge-line,
.touchevents a.is-touched .m-iconBadge.m-iconBadge-line,
.touchevents button.is-touched .m-iconBadge.m-iconBadge-line {
  background-color: #00b900;
}
.no-touchevents .m-iconBadge:hover.m-iconBadge-twitter,
.no-touchevents a:hover .m-iconBadge.m-iconBadge-twitter,
.no-touchevents button:hover .m-iconBadge.m-iconBadge-twitter,
.touchevents .m-iconBadge.is-touched.m-iconBadge-twitter,
.touchevents a.is-touched .m-iconBadge.m-iconBadge-twitter,
.touchevents button.is-touched .m-iconBadge.m-iconBadge-twitter {
  background-color: #55acee;
}
.no-touchevents .m-iconBadge:hover.m-iconBadge-facebook,
.no-touchevents a:hover .m-iconBadge.m-iconBadge-facebook,
.no-touchevents button:hover .m-iconBadge.m-iconBadge-facebook,
.touchevents .m-iconBadge.is-touched.m-iconBadge-facebook,
.touchevents a.is-touched .m-iconBadge.m-iconBadge-facebook,
.touchevents button.is-touched .m-iconBadge.m-iconBadge-facebook {
  background-color: #3b5998;
}
.no-touchevents .m-iconBadge:hover.m-iconBadge-instagram,
.no-touchevents a:hover .m-iconBadge.m-iconBadge-instagram,
.no-touchevents button:hover .m-iconBadge.m-iconBadge-instagram,
.touchevents .m-iconBadge.is-touched.m-iconBadge-instagram,
.touchevents a.is-touched .m-iconBadge.m-iconBadge-instagram,
.touchevents button.is-touched .m-iconBadge.m-iconBadge-instagram {
  background-color: #b932a8;
}
.no-touchevents .m-iconBadge:hover.m-iconBadge-youtube,
.no-touchevents a:hover .m-iconBadge.m-iconBadge-youtube,
.no-touchevents button:hover .m-iconBadge.m-iconBadge-youtube,
.touchevents .m-iconBadge.is-touched.m-iconBadge-youtube,
.touchevents a.is-touched .m-iconBadge.m-iconBadge-youtube,
.touchevents button.is-touched .m-iconBadge.m-iconBadge-youtube {
  background-color: #f00;
}
.no-touchevents .m-iconBadge:hover:before,
.no-touchevents a:hover .m-iconBadge:before,
.no-touchevents button:hover .m-iconBadge:before,
.touchevents .m-iconBadge.is-touched:before,
.touchevents a.is-touched .m-iconBadge:before,
.touchevents button.is-touched .m-iconBadge:before {
  opacity: 0;
  -webkit-transition: opacity 0.45s cubic-bezier(0.23, 1, 0.58, 1),
    -webkit-transform 0.6s cubic-bezier(0.23, 1, 0.58, 1);
  transition: opacity 0.45s cubic-bezier(0.23, 1, 0.58, 1),
    -webkit-transform 0.6s cubic-bezier(0.23, 1, 0.58, 1);
  transition: opacity 0.45s cubic-bezier(0.23, 1, 0.58, 1),
    transform 0.6s cubic-bezier(0.23, 1, 0.58, 1);
  transition: opacity 0.45s cubic-bezier(0.23, 1, 0.58, 1),
    transform 0.6s cubic-bezier(0.23, 1, 0.58, 1),
    -webkit-transform 0.6s cubic-bezier(0.23, 1, 0.58, 1);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.no-touchevents .m-iconBadge:hover .m-icon:before,
.no-touchevents a:hover .m-iconBadge .m-icon:before,
.no-touchevents button:hover .m-iconBadge .m-icon:before,
.touchevents .m-iconBadge.is-touched .m-icon:before,
.touchevents a.is-touched .m-iconBadge .m-icon:before,
.touchevents button.is-touched .m-iconBadge .m-icon:before {
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.58, 1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.58, 1);
}
.no-touchevents .m-iconBadge:hover .m-icon:after,
.no-touchevents a:hover .m-iconBadge .m-icon:after,
.no-touchevents button:hover .m-iconBadge .m-icon:after,
.touchevents .m-iconBadge.is-touched .m-icon:after,
.touchevents a.is-touched .m-iconBadge .m-icon:after,
.touchevents button.is-touched .m-iconBadge .m-icon:after {
  opacity: 1;
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.58, 1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.58, 1);
}

/* container ---------- */
.m-container {
  padding: 0 20px;
}
@media print, screen and (min-width: 768px) {
  .m-container {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media print, screen and (min-width: 1032px) {
  .m-container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
    max-width: 992px;
  }
}

.l-footer {
  min-height: 0%;
  background: #f0f0ee;
  text-align: center;
  color: #79cee2;

  -webkit-box-flex: 1;

  -webkit-flex: 1 0 auto;

  -ms-flex: 1 0 auto;

  flex: 1 0 auto;
  margin-top: 70px;
}
.l-footer a {
  text-decoration: none;
  color: inherit;
}

.l-footer_logo {
  /* padding: 42px 0 0; */
}
.l-footer_logo img {
  width: 140px;
}
@media print, screen and (min-width: 768px) {
  .l-footer_logo {
    padding-top: 75px;
  }
  .l-footer_logo img {
    width: 250px;
  }
}

.l-footer_function {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: -20px;
  margin-left: -20px;
}
@media print, screen and (min-width: 768px) {
  .l-footer_function {
    margin-right: 0;
    margin-left: 0;
    padding-bottom: 28px;
  }
}

.l-footer_function_row-01 {
  margin: 29px 0 0;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}
@media print, screen and (min-width: 768px) {
  .l-footer_function_row-01 {
    margin-top: 24px;
  }
}

.l-footer_function_row-02 {
  margin: 20px 0 0;

  -webkit-box-ordinal-group: 1;

  -webkit-order: 0;

  -ms-flex-order: 0;

  order: 0;
}
@media print, screen and (min-width: 768px) {
  .l-footer_function_row-02 {
    margin-top: 40px;
  }
}

@media print, screen and (min-width: 768px) {
  .l-footer_function_row-01 {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }
  .l-footer_function_row-02 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-ordinal-group: 2;

    -webkit-order: 1;

    -ms-flex-order: 1;

    order: 1;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.l-footer_service {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: center;

  -webkit-justify-content: center;

  -ms-flex-pack: center;

  justify-content: center;
}

.l-footer_service_item {
  margin: 0 5px;
  width: 34px;
}
.l-footer_service_item .m-iconBadge {
  width: 34px;
  height: 34px;
  background-color: #fff;
}

@media print, screen and (min-width: 768px) {
  .l-footer_service_item {
    margin: 0 9px;
    width: 40px;
  }
  .l-footer_service_item .m-iconBadge {
    width: 40px;
    height: 40px;
  }
}

.l-footer_lang {
  line-height: 1;
}
@media print, screen and (max-width: 767px) {
  .l-footer_lang {
    margin: 20px 0 0;
    font-size: 1.2rem;
  }
}
@media print, screen and (min-width: 768px) {
  .l-footer_lang {
    margin-left: 30px;
  }
}
.l-footer_lang a {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 8px 18px 7px;
  border: 3px solid #fff;
  border-radius: 30px;
  -webkit-transition: background-color 0.1s 0.15s cubic-bezier(0.23, 1, 0.58, 1);
  transition: background-color 0.1s 0.15s cubic-bezier(0.23, 1, 0.58, 1);
  background: #fcfaf2;
}
@media print, screen and (min-width: 768px) {
  .l-footer_lang a {
    padding: 10px 18px 9px;
  }
}
.l-footer_lang a:before {
  content: '';
  display: block;
  opacity: 1;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 30px;
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.58, 1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.58, 1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  background: #000;

  will-change: transform;
}
.no-touchevents .l-footer_lang a:hover,
.touchevents .l-footer_lang a.is-touched {
  -webkit-transition: background-color 0s;
  transition: background-color 0s;
  background-color: #fff;
  color: #000;
}
.no-touchevents .l-footer_lang a:hover:before,
.touchevents .l-footer_lang a.is-touched:before {
  opacity: 0;
  -webkit-transition: opacity 0.35s cubic-bezier(0.23, 1, 0.58, 1),
    -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.58, 1);
  transition: opacity 0.35s cubic-bezier(0.23, 1, 0.58, 1),
    -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.58, 1);
  transition: opacity 0.35s cubic-bezier(0.23, 1, 0.58, 1),
    transform 0.5s cubic-bezier(0.23, 1, 0.58, 1);
  transition: opacity 0.35s cubic-bezier(0.23, 1, 0.58, 1),
    transform 0.5s cubic-bezier(0.23, 1, 0.58, 1),
    -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.58, 1);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.l-footer_nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: center;

  -webkit-justify-content: center;

  -ms-flex-pack: center;

  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media print, screen and (max-width: 767px) {
  .l-footer_nav {
    margin-left: -1px;
    border-bottom: 1px solid #313130;
  }
}
.l-footer_nav a {
  display: block;
}
.l-footer_nav a:hover {
  color: #556dd8;
}

.l-footer_nav_item {
  font-weight: bold;
}
@media print, screen and (max-width: 767px) {
  .l-footer_nav_item {
    border-top: 1px solid #313130;
    border-left: 1px solid #313130;
    width: 50%;
    font-size: 1.1rem;
  }
  .l-footer_nav_item a {
    padding: 11px 0;
  }
}
@media print, screen and (min-width: 768px) {
  .l-footer_nav_item {
    margin: 0 1em;
    font-size: 1.2rem;
  }
}

.l-footer_copyright {
  padding: 28px 0;
  font-size: 11px;
  font-size: 1.1rem;
}
.l-footer_copyright small {
  font-size: 100%;
}
.l-footer_copyright small [lang='en'] {
  font-family: monospace;
}
@media print, screen and (min-width: 768px) {
  .l-footer_copyright {
    padding-top: 36px;
    padding-bottom: 36px;
    font-size: 1.5rem;
  }
}

.footerbottom {
  margin-bottom: -10px;
}

.logosize {
  width: 75px;
  height: 75px;
  text-align: center;
}

.titlesize {
  width: 200px;
  margin: auto;
}

.headelist {
  color: #79cee2;
}

.headerlist li:after {
  width: 100%;
  height: 2px;
  /* display: block; */
  /* position: absolute; */
  /* left: -101%; */
  bottom: 0;
  /* box-shadow: 0 0 0 3px inset #007bff; */
  transition: 0.5s;
}

.headerlist li {
  padding: 0 20px 0 20px;
  font-size: 22px;
}

.header-icon {
  font-size: 26px;
}

.footer-icon {
  font-size: 26px;
}

.footer-icon li:hover {
  color: #007bff;
}

.footerlist li {
  font-size: 16px;
}

.nav-link {
  color: #79cee2;
}

.text-info:hover {
  color: #007bff;
}

.mt-30 {
  /* width: 800px; */
  min-height: calc(100vh - 540px);
  margin-top: 100px;
}
