//整體共用
p,
.p {
  font-size: 16px;
}
a:hover {
  text-decoration: none;
}
h1,
.h1 {
  font-size: 40px;
}
h2,
.h2 {
  font-size: 32px;
}
h3,
.h3 {
  font-size: 28px;
}
h4,
.h4 {
  font-size: 24px;
}
h5,
.h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

.s-clearFilterBtn {
  //清除篩選功能
  width: 50px;
  height: 50px;
}
.s-btn-common {
  border-radius: 0;
  border: 1px solid rgb(67, 67, 236);
  color: rgb(67, 67, 236);
  &:hover {
    background: rgb(67, 67, 236);
    border: 1px solid rgb(67, 67, 236);
  }
}
//以上是整體共用
/* Cart */
// 以下文字前後分隔線
.s-cart-title {
  overflow: hidden;
  &:before,
  &:after {
    background-color: #000;
    content: '';
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 30%;
  }

  &:before {
    right: 0.5em;
    margin-left: -50%;
  }
  &:after {
    left: 0.5em;
    margin-right: -50%;
  }
}

// 以上文字前後分隔線
.circle {
  width: 80px;
  height: 80px;
  background: lightgray;
  color: white;
  border-radius: 50%;
  h1 {
    position: relative;
    left: 38%;
    top: 20%;
  }
}
.circleActive {
  @extend .circle;
  background: lightblue;
}
.line {
  margin-top: 35px;
  width: 150px;
  height: 10px;
  background: lightgray;
}
// .btn {
//   border-radius: 0;
//   border: 1px solid rgb(67, 67, 236);
//   color: rgb(67, 67, 236);
//   &:hover {
//     background: rgb(67, 67, 236);
//     border: 1px solid rgb(67, 67, 236);
//   }
// }

.shoppingList {
  width: 80%;
  // border: 1px solid lightblue;
  margin: 20px 10%;

  thead {
    background-color: #005caf;
    color: white;
    margin-bottom: 30px;
  }
  tbody {
    border: 1px solid lightblue;
  }
}
.s-couponList {
  @extend .shoppingList;
  border: 1px solid lightblue;
}
.s-payment {
  @extend .s-couponList;
}
.columnWidth1 {
  width: 50%;
}
.columnWidth2 {
  width: 30%;
}
.couponActive {
  border: 5px solid orange;
  box-shadow: 2px 2px gray;
}
.post {
  /* width: 70%; */
  height: 150px;

  background: lightgrey;
}
.avator {
  /* width: 30%; */
  border-radius: 50%;
}
.ratings {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  color: #ddd; /*背景星星顏色*/
  overflow: hidden;
  font-size: 20px; /*調整字體大小可放大縮小星星*/
  text-shadow: 0px 1px 0 #999;
}
.full_star {
  width: 90%; /*調整寬度可變更星等*/
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #d56a16; /*前景星星顏色*/
}
.s-searchicon {
  position: relative;
  bottom: 45px;
  left: 5px;
}

/* slider.css */

.box {
  width: 100%;
  min-height: 500px;
  background-image: url('/images/shop/bigImage/1_MONSTER HUNTER_ WORLD_0.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(50%);
  transition: 0.5s;

  flex-wrap: wrap;
}

.sbox {
  /* width: 200px; */
  height: 50%;
  /* background: white; */
  /* transition:.5s; */
  flex: 1 1 33.33%;
  /* border:1px solid green; */
}

.sbox-s {
  width: 100%;
  height: 100%;
  background: white;
  transition: 0.5s;
  border: 1px solid lightgrey;
  a {
    position: absolute;
    top: 40%;
    left: 40%;
  }
}
.sbox-s h2 {
  position: absolute;
  top: 30%;
  left: 30%;
}
/* .sbox1:hover,.sbox2:hover{
      width: 80%;
      height: 80%;
      margin: 10%;
      border-radius: 20px;
      opacity: 50%;
  
  } */
.box:hover .sbox-s {
  /* width: 80%;
    height: 70%; */
  /* margin: 10%; */
  border-radius: 20px;
  /* opacity: 50%; */
  /* transform: scale(0.7); */
}
//Filterbar
.s-filterbar {
  height: 45px;
}
.s-filterbar-btn {
  border-radius: 25px;
  border: 1px solid #79cee2;
  color: #79cee2;
  width: 150px;
  &:hover {
    background-color: #007bff;
    border: 1px solid #007bff;
  }
}
.s-filterbar-search {
  @extend .s-filterbar-btn;
  margin-top: 7px;
  &:hover {
    background-color: white;
  }
}
.s-filterClearBtn {
  margin: 5px;
  width: 190px;
  // height: 50px;
  font-size: 16px;
  color: white;
  border: 1px solid rgb(59, 59, 233);
  text-align: center;
  background-color: rgb(59, 59, 233);
  button {
    margin: 8px;
    // height: 25px;
    // width: 25px;
    // border-radius: 50%;
    border: none;
    background-color: transparent;
    color: white;
  }
}
//頁數element
.s-pageItem {
  width: 50px;
  height: 50px;
  border: 2px solid lightblue;
  border-radius: 50%;
  margin: 5px;
  a {
    text-decoration: none;
    color: lightblue;
    font-size: 24px;
    display: block;
    text-align: center;
  }
}
.s-pageItem-Active {
  background-color: lightblue;
  a {
    color: white;
  }
}

//商品列表hover縮小
.s-cardwrap {
  .s-productlist-card {
    box-shadow: 0px 0px 10px #adb6bd;
  }
  &:hover {
    .s-productlist-card {
      transition: 1s;
      transform: scale(0.9);
      border-radius: 25px;
      img {
        transition: 1s;
        transform: scale(0.9);
        border-radius: 25px;
      }
    }
  }
}
// .s-productlist-card {
//   &:hover {
//     transform: scale(0.9);
//     border-radius: 25px;
//     transition: 1s;
//   }
//   img {
//     &:hover {
//       transform: scale(0.9);
//       border-radius: 25px;
//       transition: 1s;
//     }
//   }
// }
//商品細節頁
.s-bigImg {
  width: 100%;
  height: 80%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.s-smallImg {
  width: 100%;
  li {
    width: 25%;
    img {
      width: 100%;
    }
  }
}
//推薦商品頁
.s-recommend {
  // width: 90%;
  background-color: whitesmoke;
  overflow: hidden;
  h4 {
    color: #79cee2;
  }
}

.s-recommend-pic {
  width: 400px;
  position: relative;
  left: 0px;
  margin-right: 20px;
}
.s-recommend-row {
  width: 2000px;
  position: relative;
  left: 0px;
}

//客製化checkbox
/* Customize the label (the container) */
.form-check {
  display: block;
  position: relative;
  padding-left: 50px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.s-checkbox {
  position: absolute;
  top: 5px;
  left: 90px;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* Hide the browser's default checkbox */
.form-check input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

// On mouse-over, add a grey background color */
.form-check:hover input ~ .s-checkbox {
  background-color: #ccc;
}

// When the checkbox is checked, add a blue background */
.form-check input:checked ~ .s-checkbox {
  background-color: #2196f3;
}

//Create the checkmark/indicator (hidden when not checked) */
.s-checkbox::after {
  content: '';
  position: absolute;
  display: none;
}

//Show the checkmark when checked */
.form-check input:checked ~ .s-checkbox::after {
  display: block;
}

//Style the checkmark/indicator
.form-check .s-checkbox::after {
  left: 9px;
  top: 5px;
  width: 8px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

//客製化radiobox

/* Hide the browser's default radio button */
.form-check input[type='radio'] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
/* Create a custom radio button */
.s-radio {
  position: absolute;
  top: 10px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}
/* On mouse-over, add a grey background color */
.form-check:hover input ~ .s-radio {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.form-check input:checked ~ .s-radio {
  background-color: #2196f3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.s-radio:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.form-check input:checked ~ .s-radio:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.form-check .s-radio:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
